<template>
    <div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color), rgba(33, 150, 243, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <Message v-for="msg of messages" :severity="msg.severity" :key="msg.id" :life="2000" :icon="pi-at">{{msg.content}}</Message>
                    <div class="text-center mb-5">
                        <img :src="'layout/images/spb-transparant.png'" alt="Image" class="mb-5" style="width:181px; height:100px;">
                        <div class="text-900 text-3xl font-medium mb-3"></div>
                        <span class="text-600 font-medium">Forgot Password</span>
                    </div>
                
                    <div class="w-full md:w-10 mx-auto">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <InputText id="email" v-model="email" type="text" class="w-full mb-3" placeholder="Enail of User" style="padding:1rem;" />
                        <Button label="Submit" class="w-full p-3 mt-4 text-xl " @click="submit"></button>
                    </div>
                    <Message v-for="msg of messages" :severity="msg.severity" :key="msg.id" :life="2000" :icon="pi-at">{{msg.content}}</Message>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ForgotPasswordService from '../service/ForgotPasswordService'
// import DefaultMenu from '../app/_files/appadmin.json';
export default {
    data() {
        return {
            email: '',
        }
    },
    mounted(){
    },
    methods:{
        async submit(){
            const data = { 
                credential: this.email,
            };
            this.messages = [
                        {severity: 'info', content: 'Email Send', id: this.count++},
            ]
            ForgotPasswordService.forgotPass(data).then((value) => {
                console.log("ForgotPasswordService: ",value);

                if(value.status === 200){
                    this.messages = [
                        {severity: 'info', content: 'Email Send', id: this.count++},
                    ]
                    this.$router.push('/login');
                } else {
                    this.messages = [
                        {severity: 'info', content: 'User Not Found', id: this.count++},
                    ]
                }
            })
        }
    },
    computed: {
        logoColor() {
            if (this.$appState.darkTheme) return 'white';
            return 'dark';
        }
    }
}
</script>

<style scoped>
.pi-eye {
    transform:scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform:scale(1.6);
    margin-right: 1rem;
}
</style>