<template>
    <div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color), rgba(33, 150, 243, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="text-center mb-5">
                        <img :src="'layout/images/spb-transparant.png'" alt="Image" class="mb-5" style="width:181px; height:100px;">
                        <div class="text-900 text-3xl font-medium mb-3"></div>
                        <span class="text-600 font-medium">Sign in to continue</span>
                    </div>
                
                    <div class="w-full md:w-10 mx-auto">
                        <label for="userName" class="block text-900 text-xl font-medium mb-2">User Name</label>
                        <InputText id="userName" v-model="userName" type="text" class="w-full mb-3" placeholder="User Name" style="padding:1rem;" />
                
                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <Password id="password1" v-model="password" placeholder="Password" :toggleMask="true" class="w-full mb-3" inputClass="w-full" inputStyle="padding:1rem"></Password>
                        <router-link to="/forgotpass" class="text-blue-500">Forgot Password</router-link>
                        <!-- <div class="flex align-items-center justify-content-between mb-5">
                            <div class="flex align-items-center">
                                <Checkbox id="rememberme1" v-model="checked" :binary="true" class="mr-2"></Checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                        </div> -->
                        <Button label="Sign In" class="w-full p-3 mt-4 text-xl " @click="doLogin"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoginService from '../service/LoginService'
import AuthService from '../service/AuthService'
// import DefaultMenu from '../app/_files/appadmin.json';
export default {
    data() {
        return {
            userName: '',
            password: '',
            checked: false
        }
    },
    methods:{
        async doLogin(){
            const data = { 
                credential: this.userName,
                secret: this.password,
                appname: 'spb',
            };
            
            LoginService.signViaAdminSc(data).then((value) => {
                // console.log("signViaAdminSc: ",value);
                console.log("signViaAdminSc: ",value.data.data);
                this.$localStorage.set('authKey', value.data.data);
                console.log("authKey: ", this.$localStorage.get('authKey'));

                if(value.data.status === 200){
                    AuthService.setAuthKey(value.data.data);
                    this.$router.push('/dashboard');
                }
            })
        }
    },
    computed: {
        logoColor() {
            if (this.$appState.darkTheme) return 'white';
            return 'dark';
        }
    }
}
</script>

<style scoped>
.pi-eye {
    transform:scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform:scale(1.6);
    margin-right: 1rem;
}
</style>