<template>
	<!-- eslint-disable -->
	<div class="grid">
		<div class="col-12">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>
		<div class="col-12">
			<div class="card">
				<Toast />
				<TabView class="tabview-custom" ref="tabview4">
					<TabPanel>
						<template #header>
							<i class="pi pi-calendar"></i>&nbsp;&nbsp;
							<span>Notification</span>
						</template>
						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline" style="margin: 1em 0 0 0">
								<div class="field">
									<span class="p-float-label">
                        				<Dropdown style="max-width: 100%; width: 30em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name"></Dropdown>
                        				<label for="inputtext">Module</label>
                   					</span>
								</div>
								<div class="field">
									<span class="p-float-label">
                        				<Dropdown style="max-width: 100%; width: 10em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name"></Dropdown>
                        				<label for="inputtext">Status</label>
									</span>	
								</div>
								<div class="field">
									<Button label="Go"></Button>
								</div>
							</div>
						</div>
						<DataTable :value="products" v-model:selection="selectedProducts" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll" :globalFilterFields="['module','subject','date','status']">
							<Column filterField="module" field="module" header="Module" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Module</span>
									{{slotProps.data.module}}
								</template>
								<!-- <template #filter="{filterModel,filterCallback}">
									<InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
										class="p-column-filter" :placeholder="`Search by name`"
										v-tooltip.top.focus="'Hit enter key to filter'" />
								</template> -->
							</Column>
							<Column filterField="subject" field="subject" header="Subject" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Subject</span>
									{{slotProps.data.subject}}
								</template>
							</Column>
							<Column filterField="date" field="date" header="Received Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Received Date</span>
									{{slotProps.data.date}}
								</template>
							</Column>
							<Column filterField="status" field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									<span class="p-column-title">Status</span>
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-user"></i>&nbsp;&nbsp;
							<span>Planning Order</span>
						</template>
							
						<div class="grid">
							<div class="col-12 p-fluid">
								<div class="card">
									<div class="grid formgrid" style="margin: 1em 0 0 0;">
										<div class="col-12 mb-2 lg:col-2 lg:mb-0">
											<span class="p-float-label p-input-icon-right">
												<i class="pi pi-search" />
												<InputText id="inputtext" type="text" v-model="textpayload" @keydown.enter="getTableSome(event)"/>
												<label for="inputtext">Search</label>
											</span>
										</div>
										<div class="col-12 mb-5 lg:col-1 lg:mb-0">
											<Button label="Go" @click="getTableSome(event)"></Button>
										</div>
										<div class="col-12 mb-2 lg:col-3 lg:mb-0">
											<span class="p-float-label">
												<Dropdown style="max-width: 100%;" v-model="selectedCity" :options="cities" optionLabel="name"/>
												<label for="dropdown">Reports</label>
											</span>
										</div>
										<div class="col-12 mb-2 lg:col-1 lg:mb-0">
											<SplitButton label="Action" :model="items" class="p-button-info mr-2 mb-2"></SplitButton>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div v-if="tutorials.length == 0">
						<ProgressBar mode="indeterminate"/>
						</div> -->
						<!-- <div v-if="tutorials.length > 0"> -->
						<DataTable :value="tutorials" v-model:selection="selectedPlannos" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters1"
							removableSort
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]" :loading="loading"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll">
							<template #empty>
								Data tidak ditemukan.
							</template>
							<template #loading>
								<ProgressBar mode="indeterminate"/>
							</template>
							<Column field="vendor_name" header="Supplier" :sortable="true" headerStyle="min-width:20rem;"></Column>
							<Column field="pr_num" header="PR Number" :sortable="true" headerStyle="min-width:8rem;" style="text-align: center"></Column>
							<Column field="pr_line_num" header="Line" :sortable="true"
								headerStyle="min-width:5rem;" style="text-align: center">
							</Column>
							<Column field="need_by_date" header="Need by Date" :sortable="true"
								headerStyle="min-width:11rem;" style="text-align: center">
							</Column>
							<Column field="approval_date" header="Approval Date" :sortable="true"
								headerStyle="min-width:11rem;" style="text-align: center">
							</Column>
							<Column field="item_num" header="Item Number" :sortable="true"
								headerStyle="min-width:10rem;" style="text-align: center">
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="min-width:20rem;">
							</Column>
							<Column field="pr_qty" header="Qty" :sortable="true" headerStyle="min-width:8rem;">
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="min-width:8rem;">
							</Column>
							<Column field="deliver_to_code" header="Location" :sortable="true"
								headerStyle="min-width:15rem;">
							</Column>
							<Column field="note_to_buyer" header="Note to Buyer" :sortable="true"
								headerStyle="min-width:15rem;">
							</Column>
							<Column field="note_to_supplier" header="Note to Supplier" :sortable="true"
								headerStyle="min-width:15rem;">
							</Column>
							<Column field="manufacturer_name" header="Manufacturer" :sortable="true"
								headerStyle=" min-width:10rem;">
							</Column>
							<Column field="currency" header="Currency" :sortable="true"
								headerStyle="min-width:8rem;" style="text-align:center">
							</Column>
							<Column field="total_qty" header="Confirm Qty" :sortable="true"
								headerStyle="min-width:8rem;" style="text-align:center">
							</Column>
						</DataTable>
					<!-- </div> -->
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-search"></i>&nbsp;&nbsp;
							<span>Open PO</span>
						</template>
						<div class="grid">
							<div class="col-12 p-fluid">
								<div class="card">
									<div class="grid formgrid" style="margin: 1em 0 0 0;">
										<div class="col-12 mb-5 lg:col-3 lg:mb-0">
											<span class="p-float-label">
												<Dropdown v-model="dropdownItem"
												:options="dropdownItems" optionLabel="name"></Dropdown>
												<label for="inputtext">Supplier</label>
											</span>
										</div>
										<div class="col-12 mb-5 lg:col-2 lg:mb-0">
											<span class="p-float-label">
												<InputText id="inputtext" type="text" v-model="kokolotus" />
												<label for="inputtext">Search PO Number</label>
											</span>
										</div>
										<div class="col-12 mb-2 lg:col-2 lg:mb-0">
											<span class="p-float-label">
												<Dropdown v-model="dropdownItem"
												:options="dropdownItems" optionLabel="name"></Dropdown>
												<label for="inputtext">Status</label>
											</span>
										</div>
										<div class="col-12 mb-2 lg:col-1 lg:mb-0">
											<Button label="Go"></Button>
										</div>
										<div class="col-12 mb-2 lg:col-1 lg:mb-0">
											<Button class="p-button-secondary" label="Clear"></Button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card" style="background-color: #478fcd; height: 4em; margin: 0 0 2em 0;">
							<h4 style="color: white; margin: -0.4rem 0 0 0"> Search Result </h4>
						</div>

						<DataTable :value="nested" v-model:expandedRows="expandedRows" dataKey="id"
							paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,15]" :paginator="true" rows="3" removableSort
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll">
							<Column :expander="true" headerStyle="width: 3rem" />
							<Column field="po_num" header="PO NUM" :sortable="true"></Column>
							<template #expansion="slotProps">
								<div class="orders-subtable">
									<DataTable :value="slotProps.data.children" removableSort responsiveLayout="scroll">
										<Column field="id" header="Line" :sortable="true" style="text-align: center"></Column>
										<Column field="itemnum" header="Item Number" :sortable="true"></Column>
										<Column field="itemdesc" header="Item Description" :sortable="true"></Column>
										<Column field="uom" header="OUM" :sortable="true" style="text-align: center"></Column>
										<Column field="ship" header="Location" :sortable="true" headerStyle="min-width:3rem;"></Column>
										<Column field="currency" header="Currency" :sortable="true" style="text-align: center"></Column>
										<Column field="cprice" header="Confirm Price" :sortable="true" style="text-align: center"></Column>
										<Column field="cqty" header="Confirm Qty" :sortable="true" style="text-align: center"></Column>
										<Column field="cdate" header="Confirm Arrival at Site" :sortable="true" style="text-align: center"></Column>
										<Column field="prnum" header="PR Number" :sortable="true" style="text-align: center"></Column>
										<Column field="ponum" header="PO Number" :sortable="true" style="text-align: center"></Column>
										<Column field="status" header="Line Status" :sortable="true" style="text-align: center"></Column>
										<Column headerStyle="width:4rem">
											<template #body>
												<Button icon="pi pi-search" />
											</template>
										</Column>
									</DataTable>
								</div>
							</template>
						</DataTable>

				

			<!-- <DataTable :value="nested" rowGroupMode="subheader" groupRowsBy="id"
                sortMode="single" sortField="id" :sortOrder="1" responsiveLayout="scroll"
                :expandableRowGroups="true" v-model:expandedRowGroups="expandedRowGroups"
                @rowgroupExpand="onRowGroupExpand" @rowgroupCollapse="onRowGroupCollapse">
                <Column field="id" header="Representative"></Column>
                <Column field="name" header="Name"></Column>
                <Column field="country" header="Country">
                </Column>
                <Column field="company" header="Company"></Column>
                <Column field="status" header="Status">
                </Column>
                <Column field="date" header="Date"></Column>
            </DataTable> -->

					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-inbox"></i>&nbsp;&nbsp;
							<span>Shipment Notice</span>
						</template>

						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline" style="margin: 1em 0 0 0;">
								<div class="field">
									<span class="p-float-label">
                        				<Dropdown style="max-width: 100%; width: 30em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name"></Dropdown>
                        				<label for="inputtext">Supplier</label>
                   					</span>
								</div>
								<div class="field">
									<span class="p-float-label">
                        				<InputText type="text" />
                        				<label for="inputtext">Search DO Number</label>
                   					</span>
									
								</div>
								<div class="field">
									<span class="p-float-label">
                        				<Dropdown style="max-width: 100%; width: 10em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name"></Dropdown>
                        				<label for="inputtext">Status</label>
                   					</span>
									
								</div>
								<div class="field" style="margin: 0 0 0 0;">
									<Button label="Go"></Button>&nbsp;&nbsp;<Button class="p-button-secondary"
										label="Clear"></Button>
								</div>
								<div class="field col-1"></div>
							</div>
						</div>
						<p><strong>DO Number:</strong> DO_ANCOL_001, ANCOL TERANG MENTAL PRINTING INDUSTRY, PT</p>
						<DataTable :value="shipments" v-model:selection="selectedShipments" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters1"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['line','item_num','item_desc','uom','qty_order','qty_ship','delivery_date','arrival_at_site_date','ship_to','status']">
							<Column field="line" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:5rem;">
								<template #body="slotProps">
									{{slotProps.data.line}}
								</template>
							</Column>
							<Column f field="item_num" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_num}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.uom}}
								</template>
							</Column>
							<Column field="qty_order" header="Qty Order" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_order}}
								</template>
							</Column>
							<Column field="qty_ship" header="Qty Ship" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_ship}}
								</template>
							</Column>
							<Column field="delivery_date" header="Delivery Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.delivery_date}}
								</template>
							</Column>
							<Column field="arrival_at_site_date" header="Arrival at Site Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_site_date}}
								</template>
							</Column>
							<Column field="ship_to" header="Ship To" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.ship_to}}
								</template>
							</Column>
							<Column field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
						<br />
						<p><strong>DO Number:</strong> DO_ANCOL_001, ANCOL TERANG MENTAL PRINTING INDUSTRY, PT</p>
						<DataTable :value="shipments1" v-model:selection="selectedShipments1" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters3"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['line','item_num','item_desc','uom','qty_order','qty_ship','delivery_date','arrival_at_site_date','ship_to','status']">
							<Column field="line" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:5rem;">
								<template #body="slotProps">
									{{slotProps.data.line}}
								</template>
							</Column>
							<Column f field="item_num" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_num}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="uom" header="UOM" :sortable="true" headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.uom}}
								</template>
							</Column>
							<Column field="qty_order" header="Qty Order" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_order}}
								</template>
							</Column>
							<Column field="qty_ship" header="Qty Ship" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_ship}}
								</template>
							</Column>
							<Column field="delivery_date" header="Delivery Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.delivery_date}}
								</template>
							</Column>
							<Column field="arrival_at_site_date" header="Arrival at Site Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.arrival_at_site_date}}
								</template>
							</Column>
							<Column field="ship_to" header="Ship To" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.ship_to}}
								</template>
							</Column>
							<Column field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-check-square"></i>&nbsp;&nbsp;
							<span>CAPA</span>
						</template>
						<div class="card" style="height: 7em; margin: 0 0 2em 0;">
							<div class="formgroup-inline" style="margin: 1em 0 0 0">
								<div class="field">
									<span class="p-float-label">
                        				<Dropdown style="max-width: 100%; width: 30em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name"></Dropdown>
                        				<label for="inputtext">Supplier</label>
                   					</span>	
								</div>
								<div class="field">
									<span class="p-float-label">
                        				<Dropdown style="max-width: 100%; width: 10em;" v-model="dropdownItem"
										:options="dropdownItems" optionLabel="name"></Dropdown>
                        				<label for="inputtext">Status</label>
                   					</span>	
								</div>
								<div class="field">
									<Button label="Go"></Button>
								</div>
							</div>
						</div>
						<DataTable :value="capas" v-model:selection="selectedCapas" dataKey="id" :paginator="true"
							:rows="5" v-model:filters="filters2"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10,25]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['supplier','doc_no','doc_date','subject','resp_date','response','status']">

							<Column filterField="supplier" field="supplier" header="Supplier" :sortable="true"
								headerStyle="width:14%; min-width:18rem;">
								<template #body="slotProps">
									{{slotProps.data.supplier}}
								</template>
								<!-- <template #filter="{filterModel,filterCallback}">
									<InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
										class="p-column-filter" :placeholder="`Search by name`"
										v-tooltip.top.focus="'Hit enter key to filter'" />
								</template> -->
							</Column>
							<Column field="doc_no" header="Document No" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.doc_no}}
								</template>
							</Column>
							<Column field="doc_date" header="Document Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.doc_date}}
								</template>
							</Column>
							<Column field="subject" header="Subject" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.subject}}
								</template>
							</Column>
							<Column field="resp_date" header="Response Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.resp_date}}
								</template>
							</Column>
							<Column field="response" header="Response" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.response}}
								</template>
							</Column>
							<Column filterField="status" field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:16rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
								<!-- <template #filter="{filterModel,filterCallback}">
									<InputText type="text" v-model="filterModel.value" @keydown.enter="filterCallback()"
										class="p-column-filter" :placeholder="`Search by name`"
										v-tooltip.top.focus="'Hit enter key to filter'" />
								</template> -->
							</Column>
						</DataTable>
					</TabPanel>
					<TabPanel>
						<template #header>
							<i class="pi pi-paperclip"></i>&nbsp;&nbsp;
							<span>Invoice</span>
						</template>
						<div class="card" style="background-color: #478fcd; height: 6.5em; margin: 0 0 -2em 0;">
							<h4 style="color: white;"> Top 10 Latest Invoices </h4>
						</div>
						<DataTable :value="top_invoices" v-model:selection="selectedInvoices" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters3"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['inv_num','inv_date','inv_amount','tax_num','tax_date','tax_amount','total','status']">

							<Column field="inv_num" header="Invoice Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.inv_num}}
								</template>
							</Column>
							<Column field="inv_date" header="Invoice Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.inv_date}}
								</template>
							</Column>
							<Column field="inv_amount" header="Invoice Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.inv_amount}}
								</template>
							</Column>
							<Column field="tax_num" header="Tax Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.tax_num}}
								</template>
							</Column>
							<Column field="tax_date" header="Tax Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.tax_date}}
								</template>
							</Column>
							<Column filterField="tax_amount" field="tax_amount" header="Tax Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.tax_amount}}
								</template>
							</Column>
							<Column filterField="total" field="total" header="Total" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.total}}
								</template>
							</Column>
							<Column filterField="status" field="status" header="Status" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.status}}
								</template>
							</Column>
						</DataTable><br />
						<div class="card" style="background-color: #478fcd; height: 6.5em; margin: 0 0 -2em 0;">
							<h4 style="color: white;"> Top 10 Open Receipts </h4>
						</div>
						<DataTable :value="open_receipts" v-model:selection="selectedReceipts" dataKey="id"
							:paginator="true" :rows="5" v-model:filters="filters4"
							paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
							:rowsPerPageOptions="[5,10]"
							currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
							responsiveLayout="scroll"
							:globalFilterFields="['po_no','line_no','item_no','item_desc','qty_po','qty_rcv','total1','receipt_no','trx_date']">

							<Column field="po_no" header="PO Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.po_no}}
								</template>
							</Column>
							<Column field="line_no" header="Line" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.line_no}}
								</template>
							</Column>
							<Column field="item_no" header="Item Number" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_no}}
								</template>
							</Column>
							<Column field="item_desc" header="Item Description" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.item_desc}}
								</template>
							</Column>
							<Column field="qty_po" header="Qty PO" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_po}}
								</template>
							</Column>
							<Column filterField="qty_rcv" field="Qty Rcv" header="Tax Amount" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.qty_rcv}}
								</template>
							</Column>
							<Column filterField="total1" field="total1" header="Total" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.total1}}
								</template>
							</Column>
							<Column filterField="receipt_no" field="receipt_no" header="Receipt No." :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.receipt_no}}
								</template>
							</Column>
							<Column field="trx_date" header="Trx Date" :sortable="true"
								headerStyle="width:14%; min-width:10rem;">
								<template #body="slotProps">
									{{slotProps.data.trx_date}}
								</template>
							</Column>
						</DataTable>
					</TabPanel>
				</TabView>
			</div>
		</div>
	</div>
</template>

<script>
 /* eslint-disable */
import {FilterMatchMode,FilterOperator} from 'primevue/api';
import ProductService from '../service/ProductService';
import PlanningOrder from '../service/PlanningOrderService'
import { reactive, ref, toRef, unref } from '@vue/reactivity';
export default {
 name: "planningorder-list",
 data() {
     return {
		textpayload: null,
		openpo1s: null,
		filters1: null,
		expandedRowGroups: null,
		expandedRows: [],
		nested: [],
		nestedchildren: [],
		// loading: false,
		tabelexpand: null,
		tutorials: reactive([]),
		tutorials1: [],
		// tutorials: [],
		selectedGroupedCity: null,
		selectedSomething: [],
		obj: {
			arr : [],
		},
            groupedCities: [{
                label: 'Germany', code: 'DE',
                items: [
                    {label: 'Berlin', value: 'Berlin'},
                    {label: 'Frankfurt', value: 'Frankfurt'},
                    {label: 'Hamburg', value: 'Hamburg'},
                    {label: 'Munich', value: 'Munich'}
                ]
            },
            {
                label: 'USA', code: 'US',
                items: [
                    {label: 'Chicago', value: 'Chicago'},
                    {label: 'Los Angeles', value: 'Los Angeles'},
                    {label: 'New York', value: 'New York'},
                    {label: 'San Francisco', value: 'San Francisco'}
                ]
            },
            {
                label: 'Japan', code: 'JP',
                items: [
                    {label: 'Kyoto', value: 'Kyoto'},
                    {label: 'Osaka', value: 'Osaka'},
                    {label: 'Tokyo', value: 'Tokyo'},
                    {label: 'Yokohama', value: 'Yokohama'}
                ]
            }],

		selectedCity: null,
		cities: [
			{name: '1. Primary Report', code: 'PR'},
			{name: '2. Outstanding PR', code: 'OPR'},
			{name: '3. Outstanding PR by Item Category', code: 'OPRBC'},
			{name: '4. Planning Order', code: 'PO'},
		],
         breadcrumbHome: {icon: 'pi pi-home', to: '/'},
		 breadcrumbItems: [
		 	{label:'Dashboard'}
		 ],
		 items: [
			{
				label: 'Select Column',
				icon: 'pi pi-table'
			},
			{
				label: 'Filter',
				icon: 'pi pi-filter'
			},
			{
				label: 'Format',
				icon: 'pi pi-times'
			},
			{
				label: 'Save Report',
				icon: 'pi pi-save'
			},
			{
				label: 'Download',
				icon: 'pi pi-download'
			},
			{
				separator:true
			},
			{
				label: 'Home',
				icon: 'pi pi-home'
			},
		],
         products: null,
			product: {},
			selectedProducts: null,
			filters: {
				'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'module': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'subject': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'status': {value: null, matchMode: FilterMatchMode.CONTAINS}
			},

         shipments: null,
			shipment: {},
			selectedShipments: null,
         
		 shipments1: null,
			shipment1: {},
			selectedShipments1: null,

         capas: null,
			capa: {},
			selectedCapas: null,
			filters2: {
				'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'supplier': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'doc_no': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'doc_date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'subject': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'resp_date': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'response': {value: null, matchMode: FilterMatchMode.CONTAINS},
                'status': {value: null, matchMode: FilterMatchMode.CONTAINS}
			},
		top_invoices: null,
			invoice: {},
			selectedInvoices: null,

		open_receipts: null,
			receipts: {},
			selectedReceipts: null,

		openpo1s: null,
			openpo1: {},
			selectedOpenpo1: null,
		
		openpo2s: null,
			openpo2: {},
			selectedOpenpo2: null,
		
		plannos: null,
			planno: {},
			selectedPlannos: null,
       }
    },
    productService: null,
	
	

	created() {
		this.productService = new ProductService();
		this.getTablePO();
		this.GetTableNested();
		this.children = [
				{field: 'id', header: 'Code'},
				{field: 'prnum', header: 'Name'},
				{field: 'category', header: 'Category'},
				{field: 'quantity', header: 'Quantity'}
			];
		},
	mounted() {
		this.productService.getProducts().then(data => this.products = data);
		this.productService.getCapa().then(data => this.capas = data);
		this.productService.getShipment().then(data => this.shipments = data);
		this.productService.getShipment1().then(data1 => this.shipments1 = data1);
		this.productService.getInvoice().then(inv_data => this.top_invoices = inv_data);
		this.productService.getReceipt().then(receipt_data => this.open_receipts = receipt_data);
		this.productService.getOpenpo1().then(data => this.openpo1s = data);
		this.productService.getOpenpo2().then(data1 => this.openpo2s = data1);
		this.productService.getPlanno().then(data => this.plannos = data);
		// this.PlanningOrder.getTableData().then(data => this.tutorials = response.data;
		// this.PlanningOrder.GetTableNested().then(data => this.nested = response.data.data.data)
		// console.log("INI ISI NESTED : ", nested)
		// this.PlanningOrder.getTableData().then(response => this.tutorials = response.data);
	},
	methods: {
		getTablePO() {
			PlanningOrder.getTableData()
			.then(response => {
				this.tutorials = response.data.data
				for (let i = 0;i < response.data.length;i++) {
					this.tutorials.push(response.data.data)
				}
				// console.log("INI ISI PUSH 0 :", JSON.stringify(this.tutorials))
			})
			},
		getTableSome(event){
			this.loading = true;
			const data = this.textpayload
			// console.log("INI ISI PAYLOAD :", data)
			
			// PlanningOrder.getTableSearch(data)
			// .then(response => {
			// if ((response.data.status == 200)){
			// 	this.tutorials = response.data.data
			// 	for (let i = 0;i < response.data.length;i++) {
			// 		this.tutorials.push(response.data.data)
			// 	}
			// }
			// else if ((response.data.status == 202)) {
			// 	// console.log("You Maidenless Runt")
			// 		this.tutorials = [];
			// 		this.loading = false;
			// }
			// this.loading = false;
			// })
			setTimeout(() => {
                PlanningOrder.getTableSearch(data)
					.then(response => {
					if ((response.data.status == 200)){
						this.tutorials = response.data.data
						for (let i = 0;i < response.data.length;i++) {
							this.tutorials.push(response.data.data)
						}
					}
					else if ((response.data.status == 202)) {
							this.tutorials = [];
					}
					this.loading = false;
					});
            }, Math.random() * 1000 + 250);
        },
		GetTableNested() {
			PlanningOrder.GetTableNested()
			.then(response => {
				this.nested = response.data.data.data;
				// console.log("INI ISI NESTED",response.data.data.data)
				// console.log("INI ISI CHILDRENnya : ",response.data.data.data[1].children)
			})
		},
		onRowExpand(event) {
            this.$toast.add({severity: 'info', summary: 'Product Expanded', detail: event.data.name, life: 3000});
			// console.log('INI IDNYA : ', id)
        },
        onRowCollapse(event) {
            this.$toast.add({severity: 'success', summary: 'Product Collapsed', detail: event.data.name, life: 3000});
        },
		SearchPO(){
			console.log("INI DIA :",this.textpayload),
			this.filters1['global'].value
		},
		}
	}

</script>