<template>
	<div class="layout-topbar">
		<router-link to="/dashboard" class="layout-topbar-logo">
			<img alt="Logo" :src="topbarImage()" />
			<span>SPB</span>
		</router-link>
		<button class="p-link layout-menu-button layout-topbar-button" @click="onMenuToggle">
			<i class="pi pi-bars"></i>
		</button>

		<button class="p-link layout-topbar-menu-button layout-topbar-button"
			v-styleclass="{ selector: '@next', enterClass: 'hidden', enterActiveClass: 'scalein', 
			leaveToClass: 'hidden', leaveActiveClass: 'fadeout', hideOnOutsideClick: true}">
			<i class="pi pi-ellipsis-v"></i>
		</button>
		<ul class="layout-topbar-menu hidden lg:flex origin-top">
			<li>
				<button class="p-link layout-topbar-button" @click="signOut">
					<i class="pi pi-sign-out"></i>
					<span>Sign Out</span>
				</button>
			</li>
		</ul>
	</div>
</template>

<script>
import AuthService from './service/AuthService';
export default {
    methods: {
		signOut() {
			let payload = { appid: 4, appname: 'spb' };
			AuthService.signOutApp(payload).then((response) => {
			console.log('Process >> ' + "Sign Out" );
			console.log(response);
				if (response.status === 200) {
					AuthService.loggedOut();
					this.$router.push('/');
				} 
			})
		},
        onMenuToggle(event) {
            this.$emit('menu-toggle', event);
        },
		onTopbarMenuToggle(event) {
            this.$emit('topbar-menu-toggle', event);
        },
		topbarImage() {
			return 'layout/images/spb-transparant.png';
		}
    },
	computed: {
		darkTheme() {
			return this.$appState.darkTheme;
		}
	}
}
</script>